<div style="margin-top: 20px;">
  <div class="container-fluid padding-margin-to-show-lis">
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 col-xs-6 col-6 mb-4" *ngFor="let number of [0, 1, 2, 3, 4]">
        <mat-card class="mat-elevation-z8">
          <mat-card-header style="display: block">
            <mat-card-title class="year">201{{ number }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="date">april</span>
          </mat-card-content>
          <mat-icon class="icon">topic</mat-icon>
          <mat-card-actions style="margin-left: 0px; margin-right: 0px; margin-bottom: -34px">
            <div class="container-button">
              <div class="button-open">OPEN</div>
              <img mat-card-image src="/assets/button.svg" />
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

