.year{
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  color: #3F51B5;
}

.date{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 26pt;
  font-weight: 500;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.icon{
  font-size: 30pt;
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  color: #939393;
  line-height: unset;
}

.container-button {
  position: relative;
}

.padding-margin-to-show-list {
  margin-top: -20px;
  padding: 20px 15px;
  margin-bottom: 40px;
}

.button-open {
  position: absolute;
  height: 100%;
  text-align: center;    
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  font-weight: 500;
}

.button-open:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}